services:
  postgres:
    image: postgres:16-alpine
    container_name: notes-app_postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - notes-app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: notes-app_backend
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    networks:
      - notes-app_network
    command: sh -c "node -r tsconfig-paths/register ./node_modules/typeorm/cli.js migration:run -d dist/database/data-source.js && node -r tsconfig-paths/register dist/src/main.js"

volumes:
  postgres_data:

networks:
  notes-app_network:
    driver: bridge
